<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pokefaves</title>
	<link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Play:400,700|Press+Start+2P" rel="stylesheet">
</head>
<body>
	<h1>Pokefaves</h1>

  <div id="favorites-container">
    <h2><%= user.username %>'s Favorites:</h2>
    <% faves.forEach((fave) => { %>
      <div class="fave">
        <img src="<%= fave.artworkUrl100 %>" alt="">
        <p><%= fave.artistName %></p>
        <p><%= fave.collectionName %></p>
        <form action="/faves/<%= fave._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete">
        </form>
      </div>
    <% }) %>
  </div>
	

</body>
</html>